Carti diverse
Carti
Books
Completed
Done
Done 79 000
Processed
Errors
Errorextension
Delete Download and Chrome info.bat
carti 100 000
Completed carti 6
Books carti 6
files from booklovers
Manual
Done 64k
Carti dezvlotare personala
__pycache__
processed_files.log